{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    ХАЙТЕК
                </div>
                <div class="card-body">
                    <h5 class="card-title">Редактирование профиля</h5>

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Подтвердить изменения
                        {% endif %}
                    </button>

                </div>
                <div class="card-footer text-body-secondary">
                    <a href="{% url 'catalog:product_list' %}">Вернуться на главную страницу</a>
                </div>
            </div>
        </div>


    </form>
</div>
{% endblock %}
