{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    ХАЙТЕК
                </div>
                <div class="card-body">
                    <h5 class="card-title">Добавить товар</h5>

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Редактировать
                        {% else %}
                        Добавить
                        {% endif %}
                    </button>

                </div>
                <div class="card-footer text-body-secondary">
                    <a href="{% url 'catalog:product_list' %}">Вернуться к списку товаров</a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    ХАЙТЕК
                </div>
                <div class="card-body">
                    <h5 class="card-title">Добавить версию</h5>
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% endfor %}

                </div>
            </div>
    </form>
</div>
{% endblock %}
